
.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid;
}

.todo-item-left{
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.todo-item-right{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.todo-item button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-color: #5e00b8;
    color: white;
    padding: 10px;
}


.todo-item-important{
    background-color: red;
}
